.$(prefix)badge {
    background-color: #e0e5ee;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1;
    color: #16325c;
    vertical-align: middle;
    white-space: nowrap;
    + .$(prefix)badge {
        margin-left: 5px;
    }
    &:empty {
        padding: 0;
    }
}
