.$(prefix)button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: 0 0;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    text-decoration: none;
    color: #2c7cff;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 50ms linear,background-color 50ms linear;
}
.$(prefix)button__neutral{
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #fff;
    &:focus{
        background: #f4f6f9;
    }
    &:hover{
        color: #0b57d4;
        box-shadow: 0 1px 3px 0 rgba(52, 63, 75, 0.12), 0 3px 6px 0 rgba(52, 63, 75, 0.12), 0 0 0 1px rgba(52, 63, 75, 0.06);
    }
}
.$(prefix)button__neutral[disabled] {
    background-color: #fff;
    cursor: not-allowed;
    color: #c6cbd0;
    border: 1px solid #c6cbd0;
    box-shadow: 0 0 0 1px rgba(52, 63, 75, 0.06);
    &:hover {
        box-shadow: none;
    }
}
.$(prefix)button__brand {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: #2c7cff;
    border: 1px solid #2c7cff;
    color: #fff;
    box-shadow: 0 2px 3px 0 rgba(52, 63, 75, 0.16), 0 0 2px 0 rgba(52, 63, 75, 0.12), 0 0 1px 1px rgba(255, 255, 255, 0.24);
    &:hover{
        background-color: #1166f0;
        box-shadow: 0 3px 6px 0 rgba(52, 63, 75, 0.24), 0 1px 3px 0 rgba(52, 63, 75, 0.16), 0 0 1px 1px rgba(255, 255, 255, 0.24);
    }
}
.$(prefix)button__brand[disabled] {
    background: #eff0f3;
    cursor: not-allowed;
    border-color: transparent;
    color: #c6cbd0;
    box-shadow: 0 0 0 1px rgba(52, 63, 75, 0.02);
    &:hover {
        box-shadow: none;
    }
}
.$(prefix)button__destructive {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: #e22e3a;
    border: 1px solid #e22e3a;
    color: #fff;
    box-shadow: 0 2px 3px 0 rgba(52, 63, 75, 0.16), 0 0 2px 0 rgba(52, 63, 75, 0.12), 0 0 1px 1px rgba(255, 255, 255, 0.24);
    &:hover{
        background-color: #cd2530;
        box-shadow: 0 3px 6px 0 rgba(52, 63, 75, 0.24), 0 1px 3px 0 rgba(52, 63, 75, 0.16), 0 0 1px 1px rgba(255, 255, 255, 0.24);
    }
}
.$(prefix)button__destructive[disabled] {
    background: #e0e5ee;
    cursor: not-allowed;
    border-color: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(52, 63, 75, 0.02);
    &:hover {
        box-shadow: none;
    }
}
.$(prefix)button__success {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: #00ce7d;
    border: 1px solid #00ce7d;
    color: #fff;
    /*box-shadow: 0 2px 3px 0 rgba(52, 63, 75, 0.16), 0 0 2px 0 rgba(52, 63, 75, 0.12), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);*/
    &:hover{
        background-color: #00bf74;
        box-shadow: 0 2px 3px 0 rgba(52, 63, 75, 0.16), 0 0 2px 0 rgba(52, 63, 75, 0.12), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    }
}
.$(prefix)button-icon__small{
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
    line-height: 1;
    &:focus{
        background: #f4f6f9;
    }
}

.$(prefix)button-icon__more {
    line-height: 1.875rem;
    padding: 0 .5rem;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    color: #5a6978;
}
.$(prefix)stateful__not-selected{
    display: none;
}
.$(prefix)button__follow{
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(52, 63, 75, 0.12), 0 0 0 1px rgba(52, 63, 75, 0.06);
    .icon-not-selected{
        display: none
    }
    &:hover {
        background-color: #00ce7d;
        color: #fff;
        > .$(prefix)stateful__selected{
            display: none;
        }
        > .$(prefix)stateful__not-selected{
            display: inline;
        }
    };
    &-selected {
        background-color: #00ce7d;
        color: #fff;
    }
}

.$(prefix)button__currency{
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-size: 13px;
    color: #2c7cff;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-weight: normal;
    &:focus,
    &:hover{
        background-color: #f6f6f9;
    }
}






