:global {
    /*
        这是一个icon的公共样式.所有的图标基础样式都是mcds-icon,追加classname去扩展.
        图标大概分为small/medium/large 三种,暂时未定图标是用svg还是雪碧图.       
     */
    @define-mixin rotate $deg {
        transform: rotate($(deg)deg);
        display: inline-block;
    }
    .$(prefix)icon{
        margin:auto 0;

        &__left {
            margin-right:6px;
        }
        &__right {
            margin-left: 6px;
        }
        &__small {
            font-size:12px;
        }
        &__medium {
            font-size:32px;
        }
        &__large {
            font-size:48px;
        }

        &__hover {
            &:hover {
                color: #2a3451;
            }
        }

        @for $i from 12 to 48 {

            &__size-$i {
               font-size:$(i)px !important;
            }

            &__container-$i {
                width: $(i)px !important;
                height: $(i)px !important;
            }
        }

        &__rotate-90 {
            @mixin rotate 90;
        }
        &__rotate-180 {
            @mixin rotate 180;
        }
        &__rotate-270 {
            @mixin rotate 270;
        }

        &__container {
            width: 24px;
            height: 24px;
            box-shadow: inset 0 0 0 1px rgba(52, 63, 75, 0.06);
            border-radius:3px;
            text-align: center;
            display:inline-flex;
            &-noborder{
                box-shadow: none;
                border: none;
            }
            & [class^="mcds-icon__"], [class*=" mcds-icon__"] {
                align-items: center;
                flex: 1;
                display: flex;
                justify-content: center;
            }
        }
    }
}