.$(prefix)modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: opacity .15s linear;
        &__portal {
            position: fixed;
            z-index: 6000;
        }
        &__in {
            z-index:6000;
            opacity: 1 !important;
            filter: alpha(opacity=1) !important;
            display: block;
            & .$(prefix)modal__content{
              transform: translate(0,0);
            }
        }
        &__fade {
            opacity: 0;
            filter: alpha(opacity=0);
            transition: opacity .15s linear;
            & .modal-content{
              transform: translate(0,-55%);
            }
        }

        &__dialog {
            position:fixed;
            width:100%;
            height:100%;
            background: rgba(42, 52, 65, 0.5);
        }
        &__close {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;
            opacity: 0.8;
            font-size:20px;
            cursor: pointer;
            color: #979fab;
            &:hover {
                opacity: 1;
            }
        }
        &__content {
                position:relative;
                width:80%;
                margin:100px auto;
                background-color: #fff;
                box-shadow: 0 18px 24px 0 rgba(42, 52, 65, 0.12), 0 0 1px 0 rgba(42, 52, 65, 0.24), 0 32px 48px 0 rgba(42, 52, 65, 0.32);
                transform: translate(0,-25%);
                transition: transform .15s ease-out;
                .$(prefix)modal__header {
                    position: fixed;
                    width: 100%;
                    z-index: 1;
                    top: -52px;
                    height: 52px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom: 1px solid #eff0f3;
                    background-color: #ffffff;
                    box-shadow: 0 1px 0 0 rgba(52, 63, 75, 0.08);
                    .$(prefix)modal__title {
                        text-align: center;
                        color: #2a3541;
                        font-size: 16px;
                        line-height: 52px;
                        font-weight: 300;
                    }
                }
                .$(prefix)modal__body {
                    background: #fff;
                    font-size: 13px;
                    line-height: 20px;
                    text-align: justify;
                    color: #2a3541;
                    padding: 20px;
                    overflow: auto;
                }
                .$(prefix)modal__footer {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    background-color: #fafafb;
                    box-shadow: inset 0 1px 0 0 rgba(52, 63, 75, 0.08);
                    /**
                     * [padding 这块的padding谁也不要干掉默认的就是左右20px]
                     * @type {[type]}
                     */
                    padding: 12px 20px;
                    position: fixed;
                    bottom: -52px;
                    width: 100%;
                    .$(prefix)modal__dialog {
                        transform: translate(0);
                    }
                }
            }

    }

    .$(prefix)modal__w-820 .$(prefix)modal__content{
        width: 820px;
    }

    .$(prefix)modal__w-520 .$(prefix)modal__content{
        width: 520px;
    }
    .$(prefix)modal__auto .$(prefix)modal__content{
        top: 45%;
        margin: 0 auto;
        transform: translateY(-50%);
    }
    .$(prefix)btn__right{
        margin-right: 12px;
    }